@media (max-width:768px) {

  .header {
    .navbar {
      li {
        a {
          height: auto !important;
          line-height: 150% !important;
          font-size: 16px;
        }
      }
    }
  }

  .banner {
    .title {
      h1 {
        font-size: 22px !important;
      }
    }
  }

  .chapter, .banner {
    .description {
      p {
        font-size: 16px !important;
      }
    }
  }

  .PuffsPage {
    .description {
      left: 15px !important;
      right: 15px !important;
    }
  }

}

@media (min-width:768px) and (max-width: 992px) {

  .header {
    .logo {
      width: 270px !important;
      top: 15px !important;
    }
    .navbar {
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width:992px) {

  .header {
    .logo {
      width: 270px !important;
      top: 15px !important;
    }
    .navbar {
      li {
        a {
          font-size: 18px;
        }
      }
    }
  }

  .chapter, .banner {
    .description {
      p {
        font-size: 16px !important;
        line-height: 20px !important;
      }
    }
  }

  .chapter {
    &:nth-child(2) {
      .banner-container {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
      }
    }

    &:nth-child(3) {
      .banner-container {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 50%;
      }
    }

    &:nth-child(4) {
      .banner-container {
        position: absolute;
        top: 15px;
        left: 20%;
        right: 20%;
      }
    }

    &:nth-child(5) {
      .banner-container {
        position: absolute;
        top: 15px;
        left: 30%;
        right: 15px;
      }
    }

    &:nth-child(6) {
      .banner-container {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
      }
    }
  }

  .PuffsPage {
    .description {
      left: 50px !important;
      right: 50px !important;
    }
  }
}

$primary-color: #222C68;
$secondary-color: #FFF100;

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Myriad", "PT Sans", "Times New Roman", Times, serif !important;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  background-image: url('/themes/simple/images/background.png');
  background-repeat: repeat;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main > .container {
  min-height: 500px;
}

.container {
  background-color: #ffffff;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100% !important;
}

.header {

  > .container {

  }

  .row {
    position: relative;
    border-bottom: 5px solid $secondary-color;
  }

  .logo {
    position: absolute;
    border-bottom: none;
    width: 290px;
    z-index: 99;
    left: 20px;
    top: 10px;
    transition: all 0.5s;
  }

  nav.navbar {
    background-color: #ffffff;
    border-radius: 0;
    border: none;
    margin-bottom: 0;

    .navbar-header {
      height: 80px;
    }

    .navbar-collapse {

      &.in {
        ul.nav {
          height: auto;
        }
      }

      ul.nav {
        height: 80px;

        li {
          a {
            color: $primary-color;
            display: block;
            height: 80px;
            line-height: 80px;
            font-weight: bold;
          }

          &.current {
            background-color: $secondary-color;

            a {
              color: #ffffff;
            }
          }
        }
      }
    }


  }
}

.HomePage {

  .top {
    padding: 0 0 20px 0;
    border-bottom: 5px solid $secondary-color;
  }
  .events {
    border: 5px solid $secondary-color;

    li {
      padding: 5px 10px;
      height: 40px;
      list-style: none;
      overflow: hidden;
      border-bottom: 5px solid $secondary-color;

      .event-link {
        width: 100%;
        height: 100%;
        color: #333;
        text-decoration: none;
        cursor: pointer;
      }

      span {
        line-height: 30px;
      }
    }

    li.title {
      color: $primary-color;
      background-color: $secondary-color;
      font-size: 27px;
      text-align: center;
      font-family: "Times New Roman", Times, serif;
    }
  }

  .flexslider {
    position: relative;
    margin-bottom: 0;
    border: none;

    .flex-direction-nav {
      display: none;
    }
    .flex-control-nav {
      position: absolute;
      bottom: 10px;
      text-align: right;

      li {
        a {
          border-radius: 2px;
          width: 18px;
          height: 18px;
          line-height: 22px;
          background-color: #ffffff;
          color: #8B5E3C;
          border: none;
          text-align: center;
          text-indent: 0;
          text-decoration: none;

          &.flex-active {
            background-color: #8B5E3C;
            color: #ffffff;
          }
        }
      }
    }
  }

  .shops {
    color: $primary-color;

    .title {
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      border-bottom: 3px solid $secondary-color;
      margin-bottom: 30px;
    }

    .shop {
      margin-bottom: 20px;

      .logo {
        margin-bottom: 20px;
      }

      .info {
        li.info-item {
          font-size: 16px;
          margin-bottom: 15px;
          list-style: none;
        }
      }

      .google-map {
        iframe {
          border: none;
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

.SpecialtyPage {

  section {
    padding-bottom: 20px;
    border-bottom: 3px dotted #C3996B;
    padding-left: 0;
    padding-right: 0;
  }

  .banner-container {
    background-color: rgba(50, 50, 50, 0.4);
    padding: 15px;
    float: left;
  }

  .banner {
    padding: 30px;
    min-height: 400px;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .title {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      border-bottom: 1px solid #ffffff;
      padding: 10px 0;
    }

    .description {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 100;
    }
  }

  .chapter {
    margin-top: 20px;

    &:nth-child(odd) {
      .title {
        text-align: left;
      }
    }

    &:nth-child(even) {
      .title {
        text-align: right;
      }
    }


    .title {
      font-family: "Times New Roman", Times, serif;
      color: $primary-color;

      span {
        font-size: 20px;
      }
    }

    .summary {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      border-bottom: 1px solid #ffffff;
      padding: 10px 0;
    }
  }

}

.PuffsPage {
  .category {
    margin-bottom: 20px;

    .category-thumb {
      vertical-align: bottom;
    }

    .detail-link {
      color: #C3996B;
      font-style: italic;
      margin-left: 15px;
      text-decoration: none;

      &:hover {
        color: $secondary-color;
      }

      .fa:nth-of-type(1) {
        margin-left: 5px;
      }
    }

    .category-header {
      position: relative;

      .description-container {
        position: relative;

        &.show {

          .description {
            height: auto;
            visibility: visible;
            opacity: 1;
            max-height: 270px;
          }
        }

        .description {
          position: absolute;
          visibility: hidden;
          max-height: 0;
          overflow: auto;
          opacity: 0;
          top: 0;
          left: 30px;
          right: 30px;
          background-color: #ffffff;
          border: 2px solid $secondary-color;
          padding: 15px;
          z-index: 99;
          transition: all 1s;
        }
      }

    }

    .puff {
      padding: 15px;

      .thumb-container {
        padding: 15px;
        border: 1px solid #333;
      }

      .puff-thumb {
        height: 120px;
        padding: 15px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.AboutPage {
  section {
    margin-bottom: 15px;

    &:nth-of-type(odd) {

      .title {
        text-align: left;
      }
    }

    &:nth-of-type(even) {

      .title {
        text-align: right;
      }
    }

    .title {
      font-family: "Times New Roman", Times, serif;
      color: $primary-color;
      border-bottom: 3px solid $secondary-color;
      margin-bottom: 15px;

      h1 {
        position: relative;
        top: 15px;
      }
    }

    .summary {
      font-family: "Times New Roman", Times, serif;
      color: $primary-color;
      font-style: italic;
      margin-bottom: 15px;
    }

    .images {
      margin-bottom: 15px;
    }

    .detail {
      color: #818284;
      font-size: 1.1em;
    }
  }

  &.policy {

  }

  &.recipe {

  }

  &.reputation {

  }

}


.footer {

  .container {
    border-top: 5px solid $secondary-color;
  }

  .created {
    line-height: 40px;
  }
}