@media (max-width: 768px) {
  .header .navbar li a {
    height: auto !important;
    line-height: 150% !important;
    font-size: 16px; } }
@media (min-width: 768px) and (max-width: 992px) {
  .header .logo {
    width: 270px !important;
    top: 15px !important; }
  .header .navbar li a {
    font-size: 12px; } }
html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-family: "Myriad Pro", "PT Sans", "Times New Roman", Times, serif !important;
  width: 100%;
  height: 100%;
  overflow: auto; }

body {
  background-image: url("/themes/simple/images/background.png");
  background-repeat: repeat; }

.content {
  margin-top: 30px; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.main > .container {
  min-height: 500px; }

.container {
  background-color: #ffffff; }

.no-padding {
  padding: 0 !important; }

.full-height {
  height: 100% !important; }

.header .row {
  position: relative;
  border-bottom: 5px solid #FFF100; }
.header .logo {
  position: absolute;
  border-bottom: none;
  width: 290px;
  z-index: 99;
  left: 20px;
  top: 10px;
  transition: all 0.5s; }
.header nav.navbar {
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .header nav.navbar .navbar-header {
    height: 80px; }
  .header nav.navbar .navbar-collapse.in ul.nav {
    height: auto; }
  .header nav.navbar .navbar-collapse ul.nav {
    height: 80px; }
    .header nav.navbar .navbar-collapse ul.nav li a {
      color: #222C68;
      display: block;
      height: 80px;
      line-height: 80px; }
    .header nav.navbar .navbar-collapse ul.nav li.current {
      background-color: #FFF100; }
      .header nav.navbar .navbar-collapse ul.nav li.current a {
        color: #ffffff; }

.HomePage .top {
  padding: 0 0 20px 0;
  border-bottom: 5px solid #FFF100; }
.HomePage .events {
  border: 5px solid #FFF100; }
  .HomePage .events li {
    padding: 5px 10px;
    height: 40px;
    list-style: none;
    overflow: hidden;
    border-bottom: 5px solid #FFF100; }
    .HomePage .events li .event-link {
      width: 100%;
      height: 100%;
      color: #333;
      text-decoration: none;
      cursor: pointer; }
    .HomePage .events li span {
      line-height: 30px; }
  .HomePage .events li.title {
    color: #222C68;
    background-color: #FFF100;
    font-size: 27px;
    text-align: center;
    font-family: "Times New Roman", Times, serif; }
.HomePage .flexslider {
  position: relative;
  margin-bottom: 0;
  border: none; }
  .HomePage .flexslider .flex-direction-nav {
    display: none; }
  .HomePage .flexslider .flex-control-nav {
    position: absolute;
    bottom: 10px;
    text-align: right; }
    .HomePage .flexslider .flex-control-nav li a {
      border-radius: 2px;
      width: 18px;
      height: 18px;
      line-height: 22px;
      background-color: #ffffff;
      color: #8B5E3C;
      border: none;
      text-align: center;
      text-indent: 0;
      text-decoration: none; }
      .HomePage .flexslider .flex-control-nav li a.flex-active {
        background-color: #8B5E3C;
        color: #ffffff; }
.HomePage .shops {
  color: #222C68; }
  .HomePage .shops .title {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    border-bottom: 3px solid #FFF100;
    margin-bottom: 30px; }
  .HomePage .shops .shop {
    margin-bottom: 20px; }
    .HomePage .shops .shop .logo {
      margin-bottom: 20px; }
    .HomePage .shops .shop .info li.info-item {
      font-size: 16px;
      margin-bottom: 15px;
      list-style: none; }
    .HomePage .shops .shop .google-map iframe {
      border: none;
      width: 100%;
      height: 300px; }

.footer .created {
  line-height: 40px; }

/*# sourceMappingURL=customise.css.map */
