@media (max-width: 768px) {
  .header .navbar li a {
    height: auto !important;
    line-height: 150% !important;
    font-size: 16px; }

  .banner .title h1 {
    font-size: 22px !important; }

  .chapter .description p, .banner .description p {
    font-size: 16px !important; }

  .PuffsPage .description {
    left: 15px !important;
    right: 15px !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  .header .logo {
    width: 270px !important;
    top: 15px !important; }
  .header .navbar li a {
    font-size: 12px; } }
@media (min-width: 992px) {
  .header .logo {
    width: 270px !important;
    top: 15px !important; }
  .header .navbar li a {
    font-size: 18px; }

  .chapter .description p, .banner .description p {
    font-size: 16px !important;
    line-height: 20px !important; }

  .chapter:nth-child(2) .banner-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px; }
  .chapter:nth-child(3) .banner-container {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 50%; }
  .chapter:nth-child(4) .banner-container {
    position: absolute;
    top: 15px;
    left: 20%;
    right: 20%; }
  .chapter:nth-child(5) .banner-container {
    position: absolute;
    top: 15px;
    left: 30%;
    right: 15px; }
  .chapter:nth-child(6) .banner-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px; }

  .PuffsPage .description {
    left: 50px !important;
    right: 50px !important; } }
html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-family: "Myriad", "PT Sans", "Times New Roman", Times, serif !important;
  width: 100%;
  height: 100%;
  overflow: auto; }

body {
  background-image: url("/themes/simple/images/background.png");
  background-repeat: repeat; }

.content {
  margin-top: 30px;
  margin-bottom: 30px; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.main > .container {
  min-height: 500px; }

.container {
  background-color: #ffffff; }

.no-padding {
  padding: 0 !important; }

.full-height {
  height: 100% !important; }

.header .row {
  position: relative;
  border-bottom: 5px solid #FFF100; }
.header .logo {
  position: absolute;
  border-bottom: none;
  width: 290px;
  z-index: 99;
  left: 20px;
  top: 10px;
  transition: all 0.5s; }
.header nav.navbar {
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .header nav.navbar .navbar-header {
    height: 80px; }
  .header nav.navbar .navbar-collapse.in ul.nav {
    height: auto; }
  .header nav.navbar .navbar-collapse ul.nav {
    height: 80px; }
    .header nav.navbar .navbar-collapse ul.nav li a {
      color: #222C68;
      display: block;
      height: 80px;
      line-height: 80px;
      font-weight: bold; }
    .header nav.navbar .navbar-collapse ul.nav li.current {
      background-color: #FFF100; }
      .header nav.navbar .navbar-collapse ul.nav li.current a {
        color: #ffffff; }

.HomePage .top {
  padding: 0 0 20px 0;
  border-bottom: 5px solid #FFF100; }
.HomePage .events {
  border: 5px solid #FFF100; }
  .HomePage .events li {
    padding: 5px 10px;
    height: 40px;
    list-style: none;
    overflow: hidden;
    border-bottom: 5px solid #FFF100; }
    .HomePage .events li .event-link {
      width: 100%;
      height: 100%;
      color: #333;
      text-decoration: none;
      cursor: pointer; }
    .HomePage .events li span {
      line-height: 30px; }
  .HomePage .events li.title {
    color: #222C68;
    background-color: #FFF100;
    font-size: 27px;
    text-align: center;
    font-family: "Times New Roman", Times, serif; }
.HomePage .flexslider {
  position: relative;
  margin-bottom: 0;
  border: none; }
  .HomePage .flexslider .flex-direction-nav {
    display: none; }
  .HomePage .flexslider .flex-control-nav {
    position: absolute;
    bottom: 10px;
    text-align: right; }
    .HomePage .flexslider .flex-control-nav li a {
      border-radius: 2px;
      width: 18px;
      height: 18px;
      line-height: 22px;
      background-color: #ffffff;
      color: #8B5E3C;
      border: none;
      text-align: center;
      text-indent: 0;
      text-decoration: none; }
      .HomePage .flexslider .flex-control-nav li a.flex-active {
        background-color: #8B5E3C;
        color: #ffffff; }
.HomePage .shops {
  color: #222C68; }
  .HomePage .shops .title {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    border-bottom: 3px solid #FFF100;
    margin-bottom: 30px; }
  .HomePage .shops .shop {
    margin-bottom: 20px; }
    .HomePage .shops .shop .logo {
      margin-bottom: 20px; }
    .HomePage .shops .shop .info li.info-item {
      font-size: 16px;
      margin-bottom: 15px;
      list-style: none; }
    .HomePage .shops .shop .google-map iframe {
      border: none;
      width: 100%;
      height: 300px; }

.SpecialtyPage section {
  padding-bottom: 20px;
  border-bottom: 3px dotted #C3996B;
  padding-left: 0;
  padding-right: 0; }
.SpecialtyPage .banner-container {
  background-color: rgba(50, 50, 50, 0.4);
  padding: 15px;
  float: left; }
.SpecialtyPage .banner {
  padding: 30px;
  min-height: 400px;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .SpecialtyPage .banner .title {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0; }
  .SpecialtyPage .banner .description {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 100; }
.SpecialtyPage .chapter {
  margin-top: 20px; }
  .SpecialtyPage .chapter:nth-child(odd) .title {
    text-align: left; }
  .SpecialtyPage .chapter:nth-child(even) .title {
    text-align: right; }
  .SpecialtyPage .chapter .title {
    font-family: "Times New Roman", Times, serif;
    color: #222C68; }
    .SpecialtyPage .chapter .title span {
      font-size: 20px; }
  .SpecialtyPage .chapter .summary {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0; }

.PuffsPage .category {
  margin-bottom: 20px; }
  .PuffsPage .category .category-thumb {
    vertical-align: bottom; }
  .PuffsPage .category .detail-link {
    color: #C3996B;
    font-style: italic;
    margin-left: 15px;
    text-decoration: none; }
    .PuffsPage .category .detail-link:hover {
      color: #FFF100; }
    .PuffsPage .category .detail-link .fa:nth-of-type(1) {
      margin-left: 5px; }
  .PuffsPage .category .category-header {
    position: relative; }
    .PuffsPage .category .category-header .description-container {
      position: relative; }
      .PuffsPage .category .category-header .description-container.show .description {
        height: auto;
        visibility: visible;
        opacity: 1;
        max-height: 270px; }
      .PuffsPage .category .category-header .description-container .description {
        position: absolute;
        visibility: hidden;
        max-height: 0;
        overflow: auto;
        opacity: 0;
        top: 0;
        left: 30px;
        right: 30px;
        background-color: #ffffff;
        border: 2px solid #FFF100;
        padding: 15px;
        z-index: 99;
        transition: all 1s; }
  .PuffsPage .category .puff {
    padding: 15px; }
    .PuffsPage .category .puff .thumb-container {
      padding: 15px;
      border: 1px solid #333; }
    .PuffsPage .category .puff .puff-thumb {
      height: 120px;
      padding: 15px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }

.footer .container {
  border-top: 5px solid #FFF100; }
.footer .created {
  line-height: 40px; }

/*# sourceMappingURL=customise.css.map */
