@media (max-width:768px) {

  .header {
    .navbar {
      li {
        a {
          height: auto !important;
          line-height: 150% !important;
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width:768px) and (max-width: 992px) {

  .header {
    .logo {
      width: 270px !important;
      top: 15px !important;
    }
    .navbar {
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

$primary-color: #222C68;
$secondary-color: #FFF100;

html, body {
  font-family: "Myriad Pro", "PT Sans", "Times New Roman", Times, serif !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('/themes/simple/images/background.png');
  background-repeat: repeat;
}

.content {
  margin-top: 30px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main > .container {
  min-height: 500px;
}

.container {
  background-color: #ffffff;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100% !important;
}

.header {

  > .container {

  }

  .row {
    position: relative;
    border-bottom: 5px solid $secondary-color;
  }

  .logo {
    position: absolute;
    border-bottom: none;
    width: 290px;
    z-index: 99;
    left: 20px;
    top: 10px;
    transition: all 0.5s;
  }

  nav.navbar {
    background-color: #ffffff;
    border-radius: 0;
    border: none;
    margin-bottom: 0;

    .navbar-header {
      height: 80px;
    }

    .navbar-collapse {

      &.in {
        ul.nav {
          height: auto;
        }
      }

      ul.nav {
        height: 80px;

        li {
          a {
            color: $primary-color;
            display: block;
            height: 80px;
            line-height: 80px;
          }

          &.current {
            background-color: $secondary-color;

            a {
              color: #ffffff;
            }
          }
        }
      }
    }


  }
}

.HomePage {
  .events {
    border: 5px solid $secondary-color;

    li.event {
      padding: 5px 10px;
      height: 30px;
      list-style: none;
      overflow: hidden;
      border-bottom: 5px solid $secondary-color;

      span {
        line-height: 20px;
      }
    }
  }

  .flexslider {
    position: relative;

    .flex-direction-nav {
      display: none;
    }
    .flex-control-nav {
      position: absolute;
      li {
        a {

        }
      }
    }
  }
}


.footer {
  .created {
    line-height: 40px;
  }
}